@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Raleway:wght@500&display=swap');

.app {
  min-height: 100vh;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}