.App {
  min-height: 100vh;
}

.sunrise-home {
  background: linear-gradient(to right top, #FF6700, #FFA700);
}

.afternoon-home {
background: linear-gradient(to right top, #093A83, #3FCDD4);
}

.sunset-home {
background: linear-gradient(to right top, #EE808B, #6A0D83);
}
