.sunrise-footer {
    background-color: #FFA700;
    height: 80px;
  }
  
  .afternoon-footer {
    background-color: #3FCDD4;
    height: 80px;
  }
  
  .sunset-footer {
    background-color: #6A0D83;
    height: 80px;
  }
  
  .copyright {
    margin-bottom: 0;
  }