.sunriseHeader {
  background-color: #ff914d;
  height: 60px;
}

.afternoonHeader {
  background-color: #093A83;
  height: 60px;
}

.sunsetHeader {
  background-color: #EE808B;
  height: 60px;
}

.logo {
  margin-top: 0;
  height: inherit;
}