.sunrise-text {
  color: #093A83;
}

.afternoon-text {
 color: #093A83;
}

.sunset-text {
 color: #db5663;
}

.quoteContainer {
  margin-top: 50px;
}

.quoteText {
  padding-left: 20px;
  padding-right: 20px;
}