.sunriseText {
  color: #093A83;
}

.afternoonText {
 color: #093A83;
}

.sunsetText {
 color: #db5663;
}

.quoteContainer {
  margin-top: 50px;
}

.quoteText {
  padding-left: 20px;
  padding-right: 20px;
}